

<h1>MENU</h1>
<a href="training">Training</a>
<button (click)="logout()">Logout</button>

<div class="menuContent">
  <div class="character-panel">
    <!-- Player Name -->
    <div class="player-name">
      {{playerState.topDivDto()?.name}}
    </div>

    <!-- Avatar / Logo -->
    <div class="player-avatar">

    </div>

  <!-- Stats -->
  <div class="player-stats">
    <div class="stat-row">
      <span class="stat-label">Strength</span>
      <span class="stat-value">{{ trainingDto()?.strength }}</span>
    </div>
    <div class="stat-row">
      <span class="stat-label">Endurance</span>
      <span class="stat-value">{{ trainingDto()?.endurance }}</span>
    </div>
    <div class="stat-row">
      <span class="stat-label">Dexterity</span>
      <span class="stat-value">{{ trainingDto()?.dexterity }}</span>
    </div>
    <div class="stat-row">
      <span class="stat-label">Speed</span>
      <span class="stat-value">{{ trainingDto()?.speed }}</span>
    </div>
    <div class="stat-row">
      <span class="stat-label">Luck</span>
      <span class="stat-value">{{ trainingDto()?.luck }}</span>
    </div>
    <div class="stat-row">
      <span class="stat-label">Damage</span>
      <span class="stat-value">{{playerState.topDivDto()?.minDmg}}-{{playerState.topDivDto()?.maxDmg}}</span>
    </div>
    <div class="stat-row">
      <span class="stat-label">Armor</span>
      <span class="stat-value">{{ playerState.topDivDto()?.armor }}</span>
    </div>
  </div>
</div>

<div class="inventory-container">
  <div class="inventory-list">
    @for (item of items(); track item.id){
      <div class="inventory-item" [class.expanded]="expandedId === item.id" [class.equipped]="item.equipped">

              <!-- Always visible summary -->
              <div class="item-summary" (click)="toggleItem(item.id)">
                <span class="item-name">{{ item.name }}+{{ item.finalPlus }}</span>
                <span class="item-type">{{ item.type }}</span>
                <span class="item-lvl">Lvl {{ item.lvl }}</span>
                <span class="item-price">{{ item.price }} gold</span>
                <span class="expand-icon">{{ expandedId === item.id ? '▲' : '▼' }}</span>
                @if (item.equipped){
                  <button (click)="unequipItem(item.id)">Unequip</button>
                } @else {
                  <button (click)="equipItem(item.id)">Equip</button>
                }
              </div>

              <!-- Expanded details -->
              @if (expandedId === item.id) {
                <div class="item-details">
                  @if (item.type === 'weapon') {
                    <div>Damage: {{ item.finalMinDmg }} - {{ item.finalMaxDmg }}</div>
                  }
                  @if (item.type === 'armor') {
                    <div>Armor: {{ item.finalArmor }}</div>
                  }
                </div>
              }

            </div>
            }
    </div>
  </div>
</div>
